*.o
*.lo
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.log
config.status
configure
libtool
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/libmidi.la
src/libmidi/.deps/
src/libmidi/.dirstamp
src/linthesia
stamp-h1

build

# generated with autoreconf -ivf
config.guess
config.sub
m4/
missing
compile
config.h.in
depcomp
install-sh
ltmain.sh
