@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

.gradient-text {
  color: transparent;
  background: linear-gradient(180deg, #a051ff 0%, #eb00ff 100%);
  background-clip: text;
}

body {
  font-family: "Roboto", sans-serif;
  /* background-color: rgb(30, 0, 51); */
  background-color: rgb(7, 7, 7);
}

header {
  position: relative;
  /* background-color: #150322; */
  background-color: rgba(0, 0, 0, 0.4);
  /* background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(79, 25, 117) 100%); */
  /* background: linear-gradient(180deg, #A051FF 0%, #EB00FF 100%); */

  border-bottom: solid #e605ff 1px;
  box-shadow: rgba(175, 0, 255, 0.3) 0px 0px 1000px 0px;
}

header > neo-background {
  z-index: -1;
}

hr {
  box-sizing: content-box;
  overflow: visible;
  border: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.25);
}

#neo-features > neo-feature-col {
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}

#neo-features > neo-feature-col:last-child {
  border-right: none;
}

#neo-download {
  background: linear-gradient(-90deg, #a051ff 0%, #eb00ff 100%);
  box-shadow: rgba(175, 0, 255, 0.5) 0px 0px 30px 0px;

  border: none;
  border-radius: 3px;
  padding: 15px 25px;
  font-size: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-size 500ms;
  background-size: 100%;
  cursor: pointer; 
}

#neo-download:hover {
  background-size: 400%;
}
