@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background-color: #0c0c0c;
  color: white;

  font-family: "Roboto", sans-serif;
}

#main-page,
#about-page {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#main-page .floater__head img {
  width: 100%;
  height: auto;
}

#about-page {
  font-size: 30px;
}

neo-floater {
  padding-bottom: 100px;

  max-width: 935px;
  width: 100%;
}

.floater--animated {
  animation: floating 5s ease-in-out infinite;
}

.floater__main {
  padding: 50px;
}

@media screen and (max-width: 500px) {
  .floater__main {
    padding: 5px;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

neo-button {
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;

  border-bottom: solid 5px;
  border-radius: 5px;

  background-color: rgba(9, 9, 9, 0.6);
  border-color: rgba(160, 81, 255, 1);

  display: flex;
  justify-content: center;

  flex-wrap: wrap;

  cursor: pointer;
}

neo-button > i {
  margin-right: 6px;
}

neo-button > span {
  min-width: 115px;
}

neo-button:hover {
  background-color: rgba(17, 17, 17, 0.6);
  border-color: rgba(56, 145, 255, 1);
}

#about-floater {
  display: flex;
}

#about-floater > img {
  width: 40%;
  height: auto;
  border-radius: 5px;
  margin-right: 20px;
}
#about-floater > div {
  width: 60%;
}

@media screen and (max-width: 800px) {
  #about-floater {
    flex-wrap: wrap;
    padding: 20px;
  }
  #about-floater > img {
    width: 100%;
  }
  #about-floater > div {
    width: 100%;
  }
}
