[Desktop Entry]
Version=1.0
Type=Application

Name=Neothesia
Comment=Midi visualizer
Categories=Game;Music;
Icon=com.github.polymeilex.neothesia

Exec=neothesia
Terminal=false
StartupNotify=false