Source: neothesia
Section: games
Priority: extra
Maintainer: Cleto Martin Angelina <cleto.martin@gmail.com>
Build-Depends: debhelper (>= 7), libgtkmm-2.4-dev, libgconfmm-2.6-dev,
 libgtkglextmm-x11-1.2-dev, libasound2-dev
Standards-Version: 3.8.3
Homepage: http://sourceforge.net/projects/linthesia/

Package: neothesia
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fork of Synthesia to GNU/Linux
 Synthesia is a software which teaches you to play piano using
 piano-roll-style falling notes with any MIDI file, available under
 Windows and Mac.
