#!/usr/bin/make -f
# -*- makefile -*-

export DH_OPTIONS

DB2MAN = /usr/share/sgml/docbook/stylesheet/xsl/nwalsh/manpages/docbook.xsl
SRC     = src
VERSION = $(shell grep NeothesiaVersionString $(SRC)/Version.h | cut -f 6 -d " " | tr -d \"\;)

%:
	dh  $@

override_dh_auto_build:
	xsltproc -o debian/neothesia.6 --param man.charmap.use.subset "0" --novalid --nonet $(DB2MAN) debian/neothesia.xml
	$(MAKE) GRAPHDIR=/usr/share/neothesia/graphics SCRIPTDIR=/usr/bin

override_dh_install:
	$(MAKE) install DESTDIR=debian/neothesia
	cp extra/neothesia.desktop debian/neothesia/usr/share/applications
	cp extra/neothesia.xpm debian/neothesia/usr/share/pixmaps

override_dh_auto_clean:
	$(RM) debian/neothesia.6
	$(MAKE) clean

build-orig-source:
	mkdir -p neothesia-$(VERSION)
	tar --exclude=debian --exclude=\*~ --exclude=.svn --exclude=\*.pyc \
		--exclude=neothesia-$(VERSION) -cf - . \
		| ( cd neothesia-$(VERSION) && tar xf - )
	tar -czf ../tarballs/linthesia_$(VERSION).orig.tar.gz neothesia-$(VERSION)
	$(RM) -r neothesia-$(VERSION)
