#!/usr/bin/make -f
# -*- makefile -*-

export DH_OPTIONS

DB2MAN = /usr/share/sgml/docbook/stylesheet/xsl/nwalsh/manpages/docbook.xsl
SRC     = src
VERSION = $(shell grep NeothesiaVersionString $(SRC)/Version.h | cut -f 6 -d " " | tr -d \"\;)

%:
	dh  $@

override_dh_auto_build:
	xsltproc -o debian/linthesia.6 --param man.charmap.use.subset "0" --novalid --nonet $(DB2MAN) debian/linthesia.xml
	$(MAKE) GRAPHDIR=/usr/share/linthesia/graphics SCRIPTDIR=/usr/bin

override_dh_install:
	$(MAKE) install DESTDIR=debian/linthesia
	cp extra/linthesia.desktop debian/linthesia/usr/share/applications
	cp extra/linthesia.xpm debian/linthesia/usr/share/pixmaps

override_dh_auto_clean:
	$(RM) debian/linthesia.6
	$(MAKE) clean

build-orig-source:
	mkdir -p linthesia-$(VERSION)
	tar --exclude=debian --exclude=\*~ --exclude=.svn --exclude=\*.pyc \
		--exclude=linthesia-$(VERSION) -cf - . \
		| ( cd linthesia-$(VERSION) && tar xf - )
	tar -czf ../tarballs/linthesia_$(VERSION).orig.tar.gz linthesia-$(VERSION)
	$(RM) -r linthesia-$(VERSION)
